<div class="d-flex justify-center pb-8 pt-8">
DeckIQ
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="flashcards/estudar" Match="NavLinkMatch.All">Estudar</MudNavLink>
    <MudNavLink Href="/flashcards" Match="NavLinkMatch.All">FlashCards</MudNavLink>
    <MudNavLink Href="/categorias" Match="NavLinkMatch.All">Categorias</MudNavLink>
    <MudNavLink Href="/premium" Match="NavLinkMatch.All">Premium</MudNavLink>
    <MudNavLink Href="/sair" Match="NavLinkMatch.All">Sair</MudNavLink>
    
</MudNavMenu>

@code {
    
}